<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>创建一个vue实例</title>
  <script src="../../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>

<div id="app"></div>

<script type="text/x-template" id="hello-world-template">
  <p>Hello vue x-template</p>
</script>

<script>
  /*eslint-disable*/
  Vue.component('hello-world', {
    // template: '#hello-world-template'
    template: '#hello-world-template'
  });

  var vm = new Vue({
    el: '#app',
    components: { HelloWorld: 'hello-world' },
    template: '<hello-world/>'
  })
</script>
</body>
</html>
